<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <img
      src="/dist/img/logoif.png"
      alt="AdminLTE Logo"
      class="brand-image elevation-3"
      style="opacity: 0.8"
    />
    <span class="brand-text font-weight-light">Informática Forense</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image"></div>
      <div class="info">
        <a href="#" class="d-block">Registro de Peritajes</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->

        <li class="nav-item">
          <a href="dash" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Dash
              <span class="right badge badge-danger">Info</span>
            </p>
          </a>
        </li>

        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-edit"></i>
            <p>
              Peritajes
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/peritajes" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Lista</p>
              </a>
            </li>

            <li class="nav-item">
              <a href="/peritajes/create" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Registro</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-edit"></i>
            <p>
              Mantenedores
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/peritos" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Peritos</p>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-header">DOCUMENTACIÓN</li>
        <li class="nav-item">
          <a
            href="docs/FORMATO_DE_SOLICITUD_DE_PERICIAS.pdf"
            class="nav-link"
            target="_blank"
          >
            <i class="nav-icon fas fa-file"></i>
            <p>Formulario de solicitud</p>
          </a>
        </li>

        <li class="nav-header">LABELS</li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon far fa-circle text-danger"></i>
            <p class="text">Importante</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon far fa-circle text-warning"></i>
            <p>Normal</p>
          </a>
        </li>
        <li class="nav-header">---</li>
        <li class="nav-item">
          <a href="/logout" class="nav-link">
            <i class="nav-icon fa fa-power-off"></i>
            <p>Salir</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
